a{
    color:white;
    font-weight: bold;
    background-color:rgb(15, 112, 190);
    text-decoration: none;
    font-size:40px;
    margin-left:50px;
    margin-top:20px;
    padding:4px 12px 4px 12px;
    border-radius:8px;
}
link1{
    display:none;
}
